
*.xcuserstate

*.xcuserstate

Thirst Project.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

.DS_Store

/Thirst Project.xcodeproj/xcuserdata/kkinnebrew.xcuserdatad/xcschemes/Thirst Project.xcscheme

/Thirst Project.xcodeproj/xcuserdata/kkinnebrew.xcuserdatad/xcdebugger/
